{% extends 'base.html' %}

{% block head %}  
<title>Task Manager</title>
{% endblock %}

{% block body %}  
<center>
<div class="container">
    <h1>TASK MANAGER</h1>
    {% if tasks|length < 1 %}
    <h4>There are no task below</h4>
    {% else %}
<table>
    <tr>
        <th>TASK</th>
        <th>ADDED</th>
        <th>ACTION</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td> {{ task.content }} </td>
            <td> {{ task.date_created.date() }} </td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
<form action="/" method="POST">
    <input type="text" name="Task" id="task">
    <input type="submit" value="Add Task">
</form>
</div>
</center>
{% endblock %}